/*clase de footer*/
.footer
{
    text-align: $texto-centrado;
    background-color:$color-fondo2;
    
}
/*Parafo de principal */
.p{
    font-family: "Mystery Quest",regular;
    @extend .footer
    
}
