/*sacar el subrallado*/
a:link, a:visited
{ 
    text-decoration: none; 
}

.fondo-h
{
    background-color: $header-bg-color ;
    /* otros estilos de CSS para el header */
  }
.navegacion{
    
    text-align: $texto-centrado;
    text-decoration: none;
    font-size: 25px;
    
}
    .logo
{
    float: left;

display: block;
margin:auto;
position:sticky;
}






/*calse de navegacion 
.navegacion{
    
    text-align: $texto-centrado;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
*/

/*Calse de centar el logo
.logo
{
display: block;
margin:auto;
position:sticky;
}
*/