/*sacar el subrallado*/
a:link, a:visited
{ 
    text-decoration: none; 
}

.navegacion{
    
    text-align: $texto-centrado;
    text-decoration: none;
    font-size: 25px;
    .logo
{
display: block;
margin:auto;
position:sticky;
}
}





/*calse de navegacion 
.navegacion{
    
    text-align: $texto-centrado;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
*/

/*Calse de centar el logo
.logo
{
display: block;
margin:auto;
position:sticky;
}
*/