
@font-face { 
    font-family: "Mystery Quest"; 
    src: url("./fuentes/roboto.ttf"); 
} 
h1
{
    font-family: "Mystery Quest",italic;
    text-align: $texto-centrado;
}
h2
{
    font-family: "Mystery Quest",bolddltlic;
    @extend  .h1;

}
