
@font-face { 
    font-family: "Mystery Quest"; 
    src: url("./fuentes/roboto.ttf"); 
} 
h1
{
    font-family: "Mystery Quest",italic;
    text-align: center
}
h2
{
    font-family: "Mystery Quest",bolddltlic;
    text-align: center
}
